<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
    <authentication mode="Forms">
      <forms name="MemberAuth" loginUrl="~/Member/Login.aspx" />
    </authentication>
  </system.web>

</configuration>
